.App {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px 0;
}
.dark-mode {
  background-color: #303030;
  color: rgb(255, 255, 255);
}

.dark-mode table {
  border-color: #444;
}

.dark-mode th, .dark-mode td {
  border-color: #242424;
}

.dark-mode th {
  background-color: #292929;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  border: none;
  background-color: #008cba;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-button:hover {
  background-color: #005f5f;
}

.dark-mode .toggle-button {
  background-color: #444;
  color: white;
}

.dark-mode .toggle-button:hover {
  background-color: #222;
}